<div class="page-header">
  <h1>Sweet Dashboard <small>your devices</small></h1>
</div>

<div class="row">
        <div class="col-xs-12 col-sm-8" id="devicestatus">
		{{#each device in model}}
			<div {{bind-attr class=":row device.isError:bg-danger:bg-success"}}>
				<div class="col-xs-4 hostname">
					{{device.hostname}}
				</div>
				<div class="col-xs-4">
					{{device.state}} 
				</div>
				<div class="col-xs-4">
					{{#if device.isPending}}
						<i class="fa fa-cloud-download fa-3x"></i>
					{{/if}}
					{{#if device.isError}}
						<i class="fa fa-exclamation-triangle fa-3x"></i>
					{{/if}}
				</div>

			</div>
		{{else}}
			No devices yet!
		{{/each}}
	</div>
        <div class="col-xs-12 col-sm-4">
		<button type="button" class="btn btn-info btn-large pull-right" {{action "statstoggle"}} ><i class="fa fa-dashboard fa-2x"></i> Stats</button>
		{{#if showstats}}
			<div class="" id="statscontainer">
				<h2>Stats</h2>
				<div class="well stats">
					Goroutines: <span id="numgoroutines"></span>
				</div>
			</div>
		{{/if}}

		<h2>Logs</h2>
		<ul id="log">
		</ul>
	</div>
</div>

